<section class="services-page-section">
    <div class="sec-title text-center">
        <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Galeria</h2>
        <div class="separator"><span class="flaticon-settings-2"></span></div>
    </div>      
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Service Block -->
            <ng-container *ngIf="instagram?.length>0">                  
            <div class="service-block col-lg-4 col-md-6 col-sm-12" *ngFor="let ins of instagram ; let count = index">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img [src]="ins.images.standard_resolution.url"></figure>
                        <div class="title"><h4>{{ins.likes.count}} Likes</h4></div>
                    </div>
                    <div class="caption-box">
                        <div class="title-box">
                            <span class="icon flaticon-electrical"></span>
                            <h4>{{ins.likes.count}} Likes</h4>
                        </div>
                        <p>{{ins.caption.text}}</p>
                        <a href="{{ins.link}}" target="_blank" class="read-more" >Saber más <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>            
        </ng-container>
    
        <ng-container *ngIf="instagram?.length===0">
          <div class="alert alert-warning" role="alert">
            No hay Instagram asociado. ☹
          </div>
        </ng-container>            
        </div>
    </div>
</section>