		<!-- Updated Contact Section -->
		<section class="updated-contact-section">
			<br><br>
			<div class="auto-container">
				<div class="inner-container">
					<div class="row clearfix">

						<!-- Text Column -->
						<div class="text-column col-lg-8 col-md-12 col-sm-12">
							<div class="inner-column">
								<div class="text">Les brindamos acceso a los clientes, flexibilidad de horarios y piezas de alta calidad.</div>
							</div>
						</div>

						<!-- Button Column -->
						<div class="button-column col-lg-4 col-md-12 col-sm-12">
							<div class="inner-column">
								<a [routerLink]="[ '/contact' ]" class="theme-btn contact-btn">Contactenós</a>
							</div>
						</div>

					</div>
				</div>
            </div>
            <br><br>
		</section>
        <!-- End Updated Contact Section -->   