<section class="updated-services-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title text-center">
            <h2>Repair & Inspation Services</h2>
            <div class="separator"><span class="flaticon-settings-2"></span></div>
        </div>

        <div class="inner-container">

            <!-- Services Tabs-->
            <div class="services-tabs tabs-box">
                <div class="row clearfix">
                    <!--Column-->
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li class="title">100% Quality <strong>Guarantee</strong></li>
                            <li data-tab="#prod-general" class="tab-btn">General Maintenance</li>
                            <li data-tab="#prod-transmission" class="tab-btn active-btn">Transmission</li>
                            <li data-tab="#prod-engine" class="tab-btn">Engine Repair</li>
                            <li data-tab="#prod-brake" class="tab-btn">Brake Repair</li>
                            <li data-tab="#prod-repair" class="tab-btn">More Repair Services</li>
                        </ul>
                    </div>
                    <!--Column-->
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <!--Tabs Container-->
                        <div class="tabs-content">

                            <!-- Tab -->
                            <div class="tab" id="prod-general">
                                <div class="content">
                                    <div class="row clearfix">

                                        <!-- Content Column -->
                                        <div class="content-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <h2>General Mintenace</h2>
                                                <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                                                <div class="row clearfix">
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Oil Changes</li>
                                                            <li>Fluid Services</li>
                                                        </ul>
                                                    </div>
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Filter Replacement</li>
                                                            <li>Diesel Auto Repair</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                                            </div>
                                        </div>

                                        <!-- Image Column -->
                                        <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <div class="image">
                                                    <img src="../../../assets/images/resource/service-7.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Tab  / Active Tab -->
                            <div class="tab active-tab" id="prod-transmission">
                                <div class="content">
                                    <div class="row clearfix">

                                        <!-- Content Column -->
                                        <div class="content-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <h2>General Mintenace</h2>
                                                <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                                                <div class="row clearfix">
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Oil Changes</li>
                                                            <li>Fluid Services</li>
                                                        </ul>
                                                    </div>
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Filter Replacement</li>
                                                            <li>Diesel Auto Repair</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                                            </div>
                                        </div>

                                        <!-- Image Column -->
                                        <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <div class="image">
                                                    <img src="../../../assets/images/resource/service-7.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Tab -->
                            <div class="tab" id="prod-engine">
                                <div class="content">
                                    <div class="row clearfix">

                                        <!-- Content Column -->
                                        <div class="content-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <h2>General Mintenace</h2>
                                                <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                                                <div class="row clearfix">
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Oil Changes</li>
                                                            <li>Fluid Services</li>
                                                        </ul>
                                                    </div>
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Filter Replacement</li>
                                                            <li>Diesel Auto Repair</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                                            </div>
                                        </div>

                                        <!-- Image Column -->
                                        <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <div class="image">
                                                    <img src="../../../assets/images/resource/service-7.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Tab -->
                            <div class="tab" id="prod-brake">
                                <div class="content">
                                    <div class="row clearfix">

                                        <!-- Content Column -->
                                        <div class="content-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <h2>General Mintenace</h2>
                                                <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                                                <div class="row clearfix">
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Oil Changes</li>
                                                            <li>Fluid Services</li>
                                                        </ul>
                                                    </div>
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Filter Replacement</li>
                                                            <li>Diesel Auto Repair</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                                            </div>
                                        </div>

                                        <!-- Image Column -->
                                        <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <div class="image">
                                                    <img src="../../../assets/images/resource/service-7.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Tab -->
                            <div class="tab" id="prod-repair">
                                <div class="content">
                                    <div class="row clearfix">

                                        <!-- Content Column -->
                                        <div class="content-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <h2>General Mintenace</h2>
                                                <div class="text">Volutpat sodales, mauris erat rutrum deserunt sed pharetra mollis, nunc leo eu maecenas nascetur duis viverra nam vitae</div>
                                                <div class="row clearfix">
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Oil Changes</li>
                                                            <li>Fluid Services</li>
                                                        </ul>
                                                    </div>
                                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                                        <ul class="list-style-three">
                                                            <li>Filter Replacement</li>
                                                            <li>Diesel Auto Repair</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a href="services.html" class="theme-btn btn-style-one">Read More </a>
                                            </div>
                                        </div>

                                        <!-- Image Column -->
                                        <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <div class="image">
                                                    <img src="../../../assets/images/resource/service-7.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>