<section class="updated-renovation-section" style="background-image:url(../../../assets/images/background/10.jpg);">
    <div class="auto-container">
        <!-- Upper Section -->
        <div class="upper-section">
            <div class="row clearfix">

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h2>You Need<span>RENOVATION?</span></h2>
                        <div class="image">
                            <img src="../../../assets/images/resource/car-image-3.png" alt="" />
                        </div>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="left-line"></div>
                        <!-- Updated Feature Block -->
                        <div class="updated-feature-block">
                            <div class="block-inner">
                                <div class="icon fas fa-chart-line"></div>
                                <h3>25 YEARS REPUTATION</h3>
                                <div class="text">Phasellus convallis risus sit amet cursus vestibulum. Vestibulum vitae tristique felis. </div>
                            </div>
                        </div>

                        <!-- Updated Feature Block -->
                        <div class="updated-feature-block">
                            <div class="block-inner">
                                <div class="icon fas fa-cogs"></div>
                                <h3>FULL INTEGRITY</h3>
                                <div class="text">Phasellus convallis risus sit amet cursus vestibulum. Vestibulum vitae tristique felis. </div>
                            </div>
                        </div>

                        <!-- Updated Feature Block -->
                        <div class="updated-feature-block">
                            <div class="block-inner">
                                <div class="icon far fa-clock"></div>
                                <h3>QUICK & EFFICIENT</h3>
                                <div class="text">Phasellus convallis risus sit amet cursus vestibulum. Vestibulum vitae tristique felis. </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- Lower Section -->
        <div class="lower-section">
            <!-- Fact counter -->
            <section class="fun-fact-section-two">

                <div class="row clearfix">
                    <!-- Count box -->
                    <div class="count-box col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="flaticon-boy-broad-smile"></span></div>
                            <span class="count-text" data-speed="2000" data-stop="6370">0</span>
                            <div class="counter-title"><h5>Cliente felices</h5></div>
                        </div>
                    </div>
            
                    <!-- Count box -->
                    <div class="count-box col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="flaticon-transport"></span></div>
                            <span class="count-text" data-speed="2000" data-stop="5504">0</span>
                            <div class="counter-title"><h5>SErvice Done</h5></div>
                        </div>
                    </div>
            
                    <!-- Count box -->
                    <div class="count-box col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="flaticon-avatar-1"></span></div>
                            <span class="count-text" data-speed="2000" data-stop="504">0</span>
                            <div class="counter-title"><h5>Total Expert</h5></div>
                        </div>
                    </div>
            
                    <!-- Count box -->
                    <div class="count-box col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box"><span class="flaticon-car-1"></span></div>
                            <span class="count-text" data-speed="2000" data-stop="7704">0</span>
                            <div class="counter-title"><h5>Total Service</h5></div>
                        </div>
                    </div>
                </div>
            
            </section>
            <!-- End Fact counter -->
        </div>
    </div>
</section>