<section class="services-page-section">
    <div class="sec-title text-center">
        <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Servicios</h2>
        <div class="separator"><span class="flaticon-settings-2"></span></div>
    </div>         
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="../../../assets/images/resource/service-1.jpg" alt=""></figure>
                        <div class="title"><h4>Afinamientos y Distribución</h4></div>
                    </div>
                    <div class="caption-box">
                        <div class="title-box">
                            <span class="icon flaticon-electrical"></span>
                            <h4>Afinamientos y Distribución</h4>
                        </div>
                        <p>We should point out that maintaining your vehicle with an occasional visual inspectionfluid level.</p>
                        <a [routerLink]="[ '/contact' ]"class="read-more" >Saber más <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="../../../assets/images/resource/service-2.jpg" alt=""></figure>
                        <div class="title"><h4>Pintura</h4></div>
                    </div>
                    <div class="caption-box">
                        <div class="title-box">
                            <span class="icon flaticon-pistons"></span>
                            <h4>Pintura</h4>
                        </div>
                        <p>We should point out that maintaining your vehicle with an occasional visual inspectionfluid level.</p>
                        <a [routerLink]="[ '/contact' ]"class="read-more" >Saber más <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="../../../assets/images/resource/service-3.jpg" alt=""></figure>
                        <div class="title"><h4>Cambio de aceites</h4></div>
                    </div>
                    <div class="caption-box">
                        <div class="title-box">
                            <span class="icon flaticon-cogwheel"></span>
                            <h4>Cambio de aceites</h4>
                        </div>
                        <p>We should point out that maintaining your vehicle with an occasional visual inspectionfluid level.</p>
                        <a [routerLink]="[ '/contact' ]"class="read-more" >Saber más <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
                      <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="../../../assets/images/resource/service-4.jpg" alt=""></figure>
                        <div class="title"><h4>Embragues y Frenos</h4></div>
                    </div>
                    <div class="caption-box">
                        <div class="title-box">
                            <span class="icon flaticon-electrical"></span>
                            <h4>Embragues y Frenos</h4>
                        </div>
                        <p>We should point out that maintaining your vehicle with an occasional visual inspectionfluid level.</p>
                        <a [routerLink]="[ '/contact' ]"class="read-more" >Saber más <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="../../../assets/images/resource/service-5.jpg" alt=""></figure>
                        <div class="title"><h4>Scanner</h4></div>
                    </div>
                    <div class="caption-box">
                        <div class="title-box">
                            <span class="icon flaticon-pistons"></span>
                            <h4>Scanner</h4>
                        </div>
                        <p>We should point out that maintaining your vehicle with an occasional visual inspectionfluid level.</p>
                        <a [routerLink]="[ '/contact' ]"class="read-more" >Saber más <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="../../../assets/images/resource/service-6.jpg" alt=""></figure>
                        <div class="title"><h4>Mantención por Kilometraje</h4></div>
                    </div>
                    <div class="caption-box">
                        <div class="title-box">
                            <span class="icon flaticon-cogwheel"></span>
                            <h4>Mantención por Kilometraje</h4>
                        </div>
                        <p>We should point out that maintaining your vehicle with an occasional visual inspectionfluid level.</p>
                        <a [routerLink]="[ '/contact' ]"class="read-more" >Saber más <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>