    <!-- Preloader -->
    <div class="preloader"></div>

	<!-- Main Header Bar-->
    <header class="main-header-bar main-header">

        <!--Header-Upper-->
        <div class="header-bar-inner">
            <div class="outer-box clearfix">

                <div class="bar-logo">
                    <div class="logo"><a href="index.html"><img src="../assets/images/sidebar-logo.png" alt="" title=""></a></div>
                </div>

                <!--Nav Toggler-->
                <div class="nav-toggler"><button class="toggler-btn navSidebar-button"><span class="bar bar-one"></span><span class="bar bar-two"></span><span class="bar bar-three"></span></button></div>

                <!--Social Links-->
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-whatsapp"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </ul>
                </div>

            </div>

            <!--Nav Bg Box-->
            <div class="nav-bg-box"></div>

            <!--Main Nav Outer-->
            <div class="main-nav-outer">

                <!--Logo Box-->
                <div class="main-logo-box"><a href="index.html"><img src="../assets/images/logo-2.png" alt=""></a></div>

                <!--Copyright Text-->
                <div class="copyright-text-box">Autocare is your one stap solution <br> for all auto repair needs!</div>

            </div>


        </div>
        <!--End Header Upper-->

    </header>
    <!--End Main Header -->

		<!--Main Slider-->
    <section class="main-slider-two">
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_three_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_three" data-version="5.4.1">
                <ul>
                    <!-- Slide 1 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../assets/images/main-slider/image-7.jpg" data-title="Slide Title" data-transition="parallaxvertical">

                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../assets/images/main-slider/image-7.jpg">

                        <div class="tp-caption"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['720','600','700','450']"
                        data-whitespace="normal"
                        data-hoffset="['-190','15','15','15']"
                        data-voffset="['0','0','0','0']"
                        data-x="['right','right','left','left']"
                        data-y="['middle','middle','middle','middle']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <div class="slider-content">
								<div class="title">Somos...</div>
								<h2>Respuestos GAFA</h2>
								<div class="text">Te haremos amar tu auto</div>
								<a [routerLink]="[ '/about' ]" routerLinkActive="active"  class="theme-btn btn-style-one">Quiénes somos</a>
							</div>
                        </div>

                    </li>

                    <!-- Slide 2 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../assets/images/main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">

                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../assets/images/main-slider/image-2.jpg">

                        <div class="tp-caption"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['720','600','700','450']"
                        data-whitespace="normal"
                        data-hoffset="['-190','15','15','15']"
                        data-voffset="['0','0','0','0']"
                        data-x="['right','right','left','left']"
                        data-y="['middle','middle','middle','middle']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <div class="slider-content">
								<div class="title">Bienvenida a </div>
								<h2>Respuestos GAFA</h2>
								<div class="text">Nos especializamos en cuidado completo de autos.</div>
								<a [routerLink]="[ '/service' ]" routerLinkActive="active"  class="theme-btn btn-style-one">Servicios</a>
							</div>
                        </div>

                    </li>

                    <!-- Slide 3 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1697" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../assets/images/main-slider/image-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
						<img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../assets/images/main-slider/image-3.jpg">

						<div class="tp-caption"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['720','600','700','450']"
                        data-whitespace="normal"
                        data-hoffset="['-190','15','15','15']"
                        data-voffset="['0','0','0','0']"
                        data-x="['right','right','left','left']"
                        data-y="['middle','middle','middle','middle']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <div class="slider-content">
								<div class="title">Bienvenida a </div>
								<h2>Respuestos GAFA</h2>
								<div class="text"> Trabajamos de manera profesional y a un bajo costo</div>
								<a [routerLink]="[ '/contact' ]" routerLinkActive="active"  class="theme-btn btn-style-one">Contactenós</a>
							</div>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->

	<!-- Main Content Box -->
	<div class="main-content-box">

		<!-- Main Header-->
    <app-header></app-header>
		<!--End Main Header -->

				<!-- PAGES  -->
				
				<router-outlet></router-outlet>
				<!-- End PAGES -->

		<!-- Footer Style Two -->
		<app-footer></app-footer>
		<!-- End Footer Style Two -->

	</div>

	<!--Search Popup-->
	<div id="search-popup" class="search-popup">
		<div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
		<div class="popup-inner">
			<div class="overlay-layer"></div>
			<div class="search-form">
				<form method="post" action="index.html">
					<div class="form-group">
						<fieldset>
							<input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
							<input type="submit" value="Search Now!" class="theme-btn">
						</fieldset>
					</div>
				</form>

				<br>
				<h3>Recent Search Keywords</h3>
				<ul class="recent-searches">
					<li><a href="#">Finance</a></li>
					<li><a href="#">Idea</a></li>
					<li><a href="#">Service</a></li>
					<li><a href="#">Growth</a></li>
					<li><a href="#">Plan</a></li>
				</ul>

			</div>

		</div>
	</div>

	<!-- sidebar cart item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">

					<!-- Sidebar Info Content -->
				<div class="sidebar-info-contents">
					<div class="content-inner">
						<div class="logo">
							<a href="index.html"><img src="../assets/images/logo-2.png" alt="" /></a>
						</div>
						<div class="content-box">
							<h2>Quiénes somos</h2>
							<p class="text">Contamos con personal altamente calificado para la mantención de su vehículo Peugeot y Citroën, desarrollando así también nuevos talentos para satisfacer las necesidades de nuestros clientes.</p>
							<a href="#" class="theme-btn btn-style-one">Consulta ;)</a>
						</div>
						<div class="contact-information">
							<h2>Contactenós</h2>
							<ul class="sidebar-list-style">
								<li><span class="icon flaticon-placeholder"></span>6 Oriente 1149, Viña del Mar</li>
								<li><span class="icon flaticon-phone"></span>(111) 111-111-1111</li>
								<li><span class="icon fa fa-envelope-o"></span>Motor@gmail.com</li>
								<li><span class="icon flaticon-stopwatch"></span>Lunes a sabado: 09.00 to 20.00 <br>Domingo: Closed</li>
							</ul>
						</div>
						<!-- Social Box -->
						<ul class="social-box">
							<li class="linkedin"><a href="#" class="fab fa-whatsapp"></a></li>
							<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
							<li class="instagram"><a href="#" class="fab fa-instagram"></a></li>
							<li class="youtube"><a href="#" class="fab fa-youtube"></a></li>
						</ul>
					</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->
