    <!-- Preloader -->
    <div class="preloader"></div>

	<!-- Main Header Bar-->
    <header class="main-header-bar main-header">

        <!--Header-Upper-->
        <div class="header-bar-inner">
            <div class="outer-box clearfix">

                <div class="bar-logo">
                    <div class="logo"><a href="index.html"><img src="../assets/images/sidebar-logo.png" alt="" title=""></a></div>
                </div>

                <!--Nav Toggler-->
                <div class="nav-toggler"><button class="toggler-btn navSidebar-button"><span class="bar bar-one"></span><span class="bar bar-two"></span><span class="bar bar-three"></span></button></div>

                <!--Social Links-->
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-whatsapp"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </ul>
                </div>

            </div>

            <!--Nav Bg Box-->
            <div class="nav-bg-box"></div>

            <!--Main Nav Outer-->
     

        </div>
        <!--End Header Upper-->

    </header>
    <!--End Main Header -->
		<!--Main Slider-->
    	<app-main-slider-two></app-main-slider-two>
    <!--End Main Slider-->

	<!-- Main Content Box -->
	<div class="main-content-box">

		<!-- Main Header-->
        <app-header></app-header>
		<!--End Main Header -->

				<!-- PAGES  -->
				
				<router-outlet></router-outlet>
				<!-- End PAGES -->

		<!-- Footer Style Two -->
		<app-footer></app-footer>
		<!-- End Footer Style Two -->

	</div>

	<!--Search Popup-->
	<div id="search-popup" class="search-popup">
		<div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
		<div class="popup-inner">
			<div class="overlay-layer"></div>
			<div class="search-form">
				<form method="post" action="index.html">
					<div class="form-group">
						<fieldset>
							<input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
							<input type="submit" value="Search Now!" class="theme-btn">
						</fieldset>
					</div>
				</form>

				<br>
				<h3>Recent Search Keywords</h3>
				<ul class="recent-searches">
					<li><a href="#">Finance</a></li>
					<li><a href="#">Idea</a></li>
					<li><a href="#">Service</a></li>
					<li><a href="#">Growth</a></li>
					<li><a href="#">Plan</a></li>
				</ul>

			</div>

		</div>
	</div>

	<!-- sidebar cart item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">

					<!-- Sidebar Info Content -->
				<div class="sidebar-info-contents">
					<div class="content-inner">
						<div class="logo">
							<a href="index.html"><img src="../assets/images/logo-2.png" alt="" /></a>
						</div>
						<div class="content-box">
							<h2>Quiénes somos</h2>
							<p class="text">Contamos con personal altamente calificado para la mantención de su vehículo Peugeot y Citroën, desarrollando así también nuevos talentos para satisfacer las necesidades de nuestros clientes.</p>
							<div>
								<a href="/contact" class="theme-btn btn-style-one">.:: Consulta ::.</a>
							</div>
							<br>
							<div>
								<a href="https://tienda.repuestosgafa.cl/" target="_blank" class="theme-btn btn-style-one">.:: Nuestra Tienda ::.</a>
							</div>															
						</div>
						<div class="contact-information">
							<h2>Contactenós</h2>
							<ul class="sidebar-list-style">
								<li><span class="icon flaticon-placeholder"></span>6 Oriente 1149, Viña del Mar</li>
								<li><span class="icon flaticon-phone"></span>(111) 111-111-1111</li>
								<li><span class="icon fa fa-envelope-o"></span>Motor@gmail.com</li>
								<li><span class="icon flaticon-stopwatch"></span>Lunes a sabado: 09.00 to 20.00 <br>Domingo: Closed</li>
							</ul>
						</div>
						<!-- Social Box -->
						<ul class="social-box">
							<li class="linkedin"><a href="#" class="fab fa-whatsapp"></a></li>
							<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
							<li class="instagram"><a href="#" class="fab fa-instagram"></a></li>
							<li class="youtube"><a href="#" class="fab fa-youtube"></a></li>
						</ul>
					</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->
