<footer class="footer-style-two" style="background-image: url(../assets/images/background/11.jpg);">
    <div class="auto-container">

        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!--Footer Column-->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget info-widget">
                        <div class="widget-content">
                            <h2>ven a visitarnos</h2>
                            <div class="text">Contamos con personal altamente calificado para la mantención de su vehículo Peugeot y Citroën, desarrollando así también nuevos <br>talentos para satisfacer las necesidades de nuestros clientes.</div>
                            <ul class="info-list">
                                <li><span>Direccion: </span>6 Oriente 1149, Viña del Mar</li>
                                <li><span>Telefono: </span>+0303456</li>
                                <li><span>E-mail: </span> info@repuestosgafa.cl</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget about-widget">
                        <div class="widget-content">
                            <h2>Más acerca de nosotros</h2>
                            <div class="text">Nuestra misión es entregar productos y servicio de calidad a nuestros clientes poniendo a su disposición las mejores alternativas de marcas.</div>
                            <ul class="social-icon">
                                <li class="follow">Síguenos :</li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget gallery-widget">
                        <div class="widget-content">
                            <h2>Instagram</h2>
                            <div class="outer clearfix">
                                <figure class="image" *ngFor="let ins of instagram ; let count = index">
                                    <a href="{{ins.link}}" target="_blank" class="lightbox-image" title="{{ins.likes.count}} Likes"><img [src]="ins.images.thumbnail.url" alt=""></a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">Copyrights &copy; {{anio}} All Rights Reserved. by Conecta TI</div>
        </div>
    </div>

</footer>