<section class="about-us">
    <div class="sec-title text-center">
        <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Quienes somos</h2>
        <div class="separator"><span class="flaticon-settings-2"></span></div>
    </div>        
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <h2>Welcome to GAFA</h2>
                <h4>Reparación y servicio de automóviles</h4>
                <div class="primary-text">Ofrecemos una amplia gama de válvulas de cartucho hidráulico, colectores hidráulicos integrados personalizados y válvulas para sistemas de corte hidráulico.</div>
                <div class="text">Trabajamos con clientes grandes y pequeños en una amplia gama de sectores y utilizamos todas las formas de medios para que su nombre aparezca de la manera adecuada para usted. Tenemos varios equipos diferentes dentro de nuestra agencia que se especializan en diferentes áreas de negocios para que pueda estar seguro de que no recibirá un servicio genérico y, aunque no podemos presumir de años y años de servicio, podemos asegurarle que es un algo bueno en esta industria</div>
                <ul class="list-style-one clearfix">
                    <li>Professional car cleaning</li>
                    <li>Monthly car inspections</li>
                    <li>Car painting assets and service</li>
                    <li>Creating new car assets and wheels</li>
                </ul>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="image-box">
                    <a href="about.html"><img src="../../../assets/images/resource/about-img.jpg" alt=""></a>
                </div>
                <div class="row clearfix">
                    <div class="column col-lg-6 col-md-6 col-sm-12">
                        <h3><a href="#">Nuestra misión</a></h3>
                        <p>Entregar productos y servicio de calidad a nuestros clientes poniendo a su disposición las mejores alternativas de marcas.</p>
                       
                    </div>

                    <div class="column col-lg-6 col-md-6 col-sm-12">
                        <h3><a href="#">Nuestra visión</a></h3>
                        <p>Consolidar nuestra presencia en la Quinta región en la distribución de repuestos y mantención integral en vehículos Peugeot y Citroën</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>