    <!-- Team Section -->
    <section class="team-page-section">
        <div class="sec-title text-center">
            <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Equipo</h2>
            <div class="separator"><span class="flaticon-settings-2"></span></div>
        </div>        
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Team Block -->
                <div class="team-block-two col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="../../../assets/images/resource/team-4.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                </ul>
                                <span class="designation">Project Manager</span>
                            </div>
                        </div>
                        <div class="caption-box">
                           <h3 class="name"><a href="team.html">Dayana Zamora</a></h3>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block-two col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="../../../assets/images/resource/team-5.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                </ul>
                                <span class="designation">Project Manager</span>
                            </div>
                        </div>
                        <div class="caption-box">
                           <h3 class="name"><a href="team.html">Fernando Aguirre</a></h3>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block-two col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="../../../assets/images/resource/team-6.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                </ul>
                                <span class="designation">Project Manager</span>
                            </div>
                        </div>
                        <div class="caption-box">
                           <h3 class="name">Lilibeth Sasso</h3>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block-two col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="../../../assets/images/resource/team-11.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                </ul>
                                <span class="designation">Project Manager</span>
                            </div>
                        </div>
                        <div class="caption-box">
                           <h3 class="name"><a href="team.html">Aimee Devlin</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->
    <app-bannercontact></app-bannercontact>    