		<!-- Updated Contact Section -->
		<section class="updated-contact-section">
            <div class="sec-title text-center">
                <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0">Productos</h2>
                <div class="separator"><span class="flaticon-settings-2"></span></div>
            </div>   
			<div class="auto-container">
				<div class="inner-container">
					<div class="row clearfix">

						<!-- Text Column -->
						<div class="text-column col-lg-8 col-md-12 col-sm-12">
							<div class="inner-column">
								<div class="text">Ingrese a nuestra Tienda Online, para ver y comprar. Despachos a todo Chile</div>
							</div>
						</div>

						<!-- Button Column -->
						<div class="button-column col-lg-4 col-md-12 col-sm-12">
							<div class="inner-column">
								<a href="https://mitienda.conectati.cl/" target="_blank" class="theme-btn contact-btn">Nuestra Tienda</a>
							</div>
						</div>

					</div>
				</div>
            </div>
		</section>
        <!-- End Updated Contact Section -->   